@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background: url('../assets/ikn2.jpeg') center/cover no-repeat fixed;
  display: flex;
  color: white;
}

/* ===== SIDEBAR ===== */
.sidebar-root{
  background-color:rgba(30, 25, 60, 0.9);
  
}
.nav-link{
  color:#ccc !important;
  font-weight:600;

}
/* .sidebar {
  width: 250px;
  background-color: rgba(30, 25, 60, 0.9);
  backdrop-filter: blur(10px);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  display: block;
  left: 0;
  top: 0;
}

.sidebar-header {
  text-align: center;
  padding: 20px;
} */

.logo {
  height: 70px;
  margin-bottom: 8px;
}

.menu {
  list-style: none;
  padding: 0 15px;
  margin-bottom:30px;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}

#menu li a:hover,
#menu li a.active {
 color: rgba(255, 255, 255, 0.2) !important;
}

.menu-section {
  font-weight: 700;
  color: #ccc;
  font-size: 13px;
  margin: 15px 0 5px 10px;
}

.sidebar-footer {
  background-color: rgba(108, 85, 154, 0.6);
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

/* ===== MAIN CONTENT ===== */
.main-content {
 background-color: rgba(86, 77, 77, 0.269);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.col{
  padding:0;
}
.topbar {
  background-image: url('../assets/bg4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.profile a i {
  font-size: 28px;
  cursor: pointer;
}

/* ===== RIWAYAT SECTION ===== */
.riwayat-section {
  padding: 30px;
  height:120vh;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.search-bar input {
  flex: 1;
}

.riwayat-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.riwayat-card {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
}

.riwayat-card:hover {
  background-color: rgba(0, 0, 0, 0.403);
}

.status {
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 13px;
}

.status.pending {
  background-color: #ffc107;
  color: black;
}

.status.success {
  background-color: #3b853d;
  color: black;
}

footer {
  background-color: rgba(108, 85, 154, 0.7);
  text-align: center;
  height:50px;
  bottom:0;
  padding: 10px;
  /* margin-top: auto; */
}


/* ===++==========RESPONSIVE=============== */



@media screen and (max-width: 900px){
 
  .sidebar{
   display:none;
  }
  .main-content{
    width:100%;
    min-height: 100vh;
    margin: 0;
  }
  .riwayat-section{
    width: 100%;
    min-height:100%;
  }
  .riwayat-card{
   padding:10px;
  }
  .riwayat-info p{
    width: 100%;
    font-size:12px;
  }
  
  .navMenu, .sidebar{
    transition: all 0.7s ease-out;
    
  }
  .navMenu{
    display:block;
  }
  
   footer p{
    font-size:0.8rem;
   }
}